
@using System.Text
@using DominateDocsData.Models
@using System.Globalization
@using System.Collections.ObjectModel

@rendermode InteractiveServer
@inject BorrowerViewModel vm
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject BorrowerValidator BorrowerValidator
@inject SigningAuthorityValidator SigningAuthorityValidator
@inject AliasValidator AliasValidator
@inject EntityOwnerValidator EntityOwnerValidator
@inject UserSession Session


<MudText class="pl-4 mt-5" Typo="Typo.h4">Borrower Add/Edit</MudText>

    @if (!String.IsNullOrEmpty(searchString))
    {
        <MudText class="pl-4 mt-5" Typo="Typo.h6">Existing Borrowers</MudText>
        <MudTable Items="FilteredList" Context="borrowerContext" Hover="true" Bordered="true" Dense="true" @bind-SelectedItem="vm.EditingRecord" @ref="searchTable" RowClick="OnSelectedBorrower" T="DominateDocsData.Models.Borrower">
            <ToolBarContent>
                <MudTextField @bind-Value="searchString"
                              Placeholder="Search..."
                              Immediate="true" />
            </ToolBarContent>
            <HeaderContent>
                <MudTh>Entity Name</MudTh>
                <MudTh>Address</MudTh>
                <MudTh>Phone</MudTh>
                <MudTh>Email</MudTh>
                <MudTh>Add</MudTh>
                <MudTh>
                <MudButton Class="rounded-4"
                           Variant="Variant.Text"
                           Size="Size.Small"
                           Color="Color.Primary"
                           StartIcon="@Icons.Material.Filled.ArrowBack"
                           OnClick="SearchBackAsync">
                    Back
                </MudButton>
                </MudTh>
               
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Enitity Name">@borrowerContext.EntityName</MudTd>
                <MudTd DataLabel="Address">@borrowerContext.FullAddress</MudTd>
                <MudTd DataLabel="Phone">@borrowerContext.ContactPhoneNumber</MudTd>
                <MudTd DataLabel="Email">@borrowerContext.ContactEmail</MudTd>
                <MudTd>
                    <MudButton Class="rounded-4"
                               Variant="Variant.Text"
                               Size="Size.Small"
                               Color="Color.Primary"
                               StartIcon="@Icons.Material.Filled.Add"
                               OnClick="@(() => AddRecordForEditAsync(borrowerContext))">
                        Add
                    </MudButton>
                
                </MudTd>
            </RowTemplate>
            <NoRecordsContent>
                <MudText Color="Color.Secondary" Class="pa-4">
                    🚫 No Active Borrowers Found!
                </MudText>
            </NoRecordsContent>
        </MudTable>
    }
    else
    {
            <MudButton Class="rounded-4 mt-5 ml-4"
                       Disabled="@AddButtonDisabled"
                       Variant="Variant.Filled"
                       Size="Size.Small"
                       Color="Color.Primary"
                       OnClick="AddButton">
                Add Borrower
            </MudButton>

            <MudTextField T="string"
                          @bind-Value="searchString"
                          Immediate="true"
                          Placeholder="Search for Existing Lenders"
                          Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search"
                          IconSize="Size.Medium"
                          Class="pa-4 mt-5" />

               <MudForm Context="contextBorrower" Model="@vm.EditingRecord" @ref="@formEditRecord" Validation="@BorrowerValidator" ValidationDelay="0">
                    <MudGrid GutterSize="3">
                        <MudItem md="4">
                            <div class="d-flex flex-column gap-2">

                            <MudSelect Class="ml-4 mt-7" T="DominateDocsData.Enums.Entity.Types" Style="background-color: white;" Variant="Variant.Outlined" Label="Select Entity Type" @bind-Value="vm.EditingRecord.EntityType" Dense="true">

                                @foreach (var gt in Enum.GetValues<DominateDocsData.Enums.Entity.Types>())
                                {
                                    <MudSelectItem Style="background-color: white;" T="DominateDocsData.Enums.Entity.Types" Value="gt">@gt.GetDescription()</MudSelectItem>
                                }

                            </MudSelect>

                            @if (vm.EditingRecord.EntityType == DominateDocsData.Enums.Entity.Types.Entity)
                            {
                                <MudTextField Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingRecord.EntityName" For="@(() => vm.EditingRecord.EntityName)" Label="Entity Name" Required="true" />
                       
                                <MudSelect Class="ml-4" T="DominateDocsData.Enums.Entity.Structures" Style="background-color: white;" Variant="Variant.Outlined" Label="Select Entity Structure" @bind-Value="vm.EditingRecord.EntityStructure" Dense="true">

                                    @foreach (var gt in Enum.GetValues<DominateDocsData.Enums.Entity.Structures>())
                                    {
                                        <MudSelectItem Style="background-color: white;" T="DominateDocsData.Enums.Entity.Structures" Value="gt">@gt.GetDescription()</MudSelectItem>
                                    }

                                </MudSelect>

                                <MudSelect Class="ml-4" T="DominateDocsData.Enums.UsStates.UsState" Style="background-color: white;" Variant="Variant.Outlined" Label="Select State of Incorporation" @bind-Value="vm.EditingRecord.StateOfIncorporation" Dense="true">

                                    @foreach (var tr in Enum.GetValues<DominateDocsData.Enums.UsStates.UsState>())
                                    {
                                        <MudSelectItem Style="background-color: white;" T="DominateDocsData.Enums.UsStates.UsState" Value="tr">@tr.GetDescription()</MudSelectItem>
                                    }

                                </MudSelect>
                    
                        
                                <MudTextField Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingRecord.EIN" Label="EIN#" Required="false" />
                                <MudTextField Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingRecord.ContactName" For="@(() => vm.EditingRecord.ContactName)" Label="Contact Name" Required="true" />

                                <MudSelect Class="ml-4" T="DominateDocsData.Enums.Entity.ContactRoles" Style="background-color: white;" Variant="Variant.Outlined" Label="Contact's Role" @bind-Value="vm.EditingRecord.ContactsRole" Dense="true">

                                    @foreach (var gt in Enum.GetValues<DominateDocsData.Enums.Entity.ContactRoles>())
                                    {
                                        <MudSelectItem Style="background-color: white;" T="DominateDocsData.Enums.Entity.ContactRoles" Value="gt">@gt.GetDescription()</MudSelectItem>
                                    }

                                </MudSelect>


                                <MudTextField Class="pl-4" @bind-Value="vm.EditingRecord.ContactEmail" Style="background-color: white;" Variant="Variant.Outlined"
                                                Label="Contact Email"
                                                Placeholder="example@domain.com"
                                                Required="true"
                                                RequiredError="Email is required"
                                                Pattern="@emailPattern"
                                                PatternErrorMessage="Invalid email format"
                                                Immediate="true" />


                                <MudTextField Label="Contact Phone" Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined"
                                                @bind-Value="vm.EditingRecord.ContactPhoneNumber"
                                                Mask="@phoneMask"
                                                Placeholder="(___) ___-____"
                                                Required="true"
                                                Immediate="true" />
                                                                
                            }
                            else
                            {
                                <MudTextField Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingRecord.ContactName" For="@(() => vm.EditingRecord.ContactName)" Label="ContactName" Required="true" />



                                <MudTextField Class="pl-4" @bind-Value="vm.EditingRecord.ContactEmail" Style="background-color: white;" Variant="Variant.Outlined"
                                                Label="Contact Email"
                                                Placeholder="example@domain.com"
                                                Required="true"
                                                RequiredError="Email is required"
                                                Pattern="@emailPattern"
                                                PatternErrorMessage="Invalid email format"
                                                Immediate="true" />


                                <MudTextField Label="Contact Phone" Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined"
                                                @bind-Value="vm.EditingRecord.ContactPhoneNumber"
                                                Mask="@phoneMask"
                                                Placeholder="(___) ___-____"
                                                Required="true"
                                                Immediate="true" />
                            }
                        
                            <AddressCompleteMap OnAddressChange="OnAddressComplete" Row="false" MultipleAddress = "false" AddressList="@addresDTOList" />
                                         
                            </div>
                        </MudItem>
                        <MudItem md="4">
                            <div class="d-flex flex-column gap-2">
                                              
                       
                                @if (vm.EditingRecord.EntityType == Entity.Types.Individual)
                                {
                                    <MudTextField Class="pl-4 mt-7 mr-5" @bind-Value="vm.EditingRecord.SSN" Style="background-color: white;" Variant="Variant.Outlined"
                                                  Label="SSN"
                                                  Mask="@socialMask"
                                                  Placeholder="___-__-____"
                                                  Required="true"
                                                  RequiredError="SSN is required"
                                                  Pattern="^\d{3}-\d{2}-\d{4}$"
                                                  PatternErrorMessage="Invalid SSN format" />
                           
                                }

                            @if (vm.EditingRecord.EntityType == DominateDocsData.Enums.Entity.Types.Entity)
                            {
                                <EntityOwner OnEntityOwnerComplete="OnEntityOwnerComplete" OnEntityOwnerCanceled="OnEntityOwnerCanceled" OwnerList="@vm.EditingRecord.EntityOwners" />
                            }

                            <MudSwitch Class="pl-4 pr-4" T="bool" @bind-Value="vm.EditingRecord.IsAliasNamesUsed" Color="Color.Primary">Alias Names(@vm.EditingRecord.AliasNames?.Count ?? 0)</MudSwitch>

                            @if (vm.EditingRecord.IsAliasNamesUsed)
                            {
                                <AkaAlias OnAliasComplete="OnAliasComplete" OnAliasCanceled="OnAliasCanceled" AliasList="@vm.EditingRecord.AliasNames" />
                            }

                    <MudSwitch Class="pl-4 pr-4" T="bool" @bind-Value="vm.EditingRecord.IsSignatureAuthority" Color="Color.Primary">Signature Authority Names(@vm.EditingRecord.SigningAuthorities?.Count ?? 0)</MudSwitch>

                            @if (vm.EditingRecord.IsSignatureAuthority)
                            {
                                <SignatureAuthority OnSigningAuthorityComplete="OnSigningAuthorityComplete" OnSigningAuthorityCanceled="OnSigningAuthorityCanceled" SigningAuthorityList="@vm.EditingRecord.SigningAuthorities" />
                            }
                    

                            <MudStack Row="true" Spacing="5" Class="mt-4">

                                <MudSwitch Class="pl-4" T="bool" @bind-Value="vm.EditingRecord.IsLanuageTranslatorRequired" Color="Color.Primary" Label="Requires Translator" />
                                <MudSwitch Class="pl-4" T="bool" @bind-Value="vm.EditingRecord.IsAForgeinNational" Color="Color.Primary" Label="Forgein National" />
                            </MudStack>

                            @if (vm.SelectedRecord != null)
                            {
                                <MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mt-4 mb-5">
                                    <MudItem md="2">
                                        <MudButton Class="" Type="Submit" OnClick="HandleSubmit" Color="Color.Success" Variant="Variant.Filled"> @(vm.SelectedRecord == null ? "Add" : "Save")</MudButton>
                                    </MudItem>
                                    <MudItem md="2">
                                        <MudButton Class="" OnClick="ClearSelection" Color="Color.Secondary" Variant="Variant.Filled">Clear</MudButton>
                                    </MudItem>
                                </MudGrid>

                            }
                            else
                            {
                                <MudGrid Justify="Justify.Center" AlignItems="AlignItems.Center" Class="mt-4 mb-5">
                                    <MudItem md="3">
                                        <MudButton Class="" Type="Submit" OnClick="HandleSubmit" Color="Color.Success" Variant="Variant.Filled"> @(!editRecord ? "Add" : "Save")</MudButton>
                                    </MudItem>
                                    <MudItem md="3">
                                        <MudButton Class="" OnClick="ClearSelection" Color="Color.Secondary" Variant="Variant.Filled">Clear</MudButton>
                                    </MudItem>
                                </MudGrid>
                            }
                      
                            </div>
                        </MudItem>

                    </MudGrid>
                </MudForm>
   }





@code
{
    [Parameter] public EventCallback<DominateDocsData.Models.Borrower> OnBorrowerComplete { get; set; }
    [Parameter] public EventCallback OnBorrowerCanceled { get; set; }
    [Parameter] public bool AllowRecordEdit { get; set; } = false;
    [Parameter] public DominateDocsData.Models.Borrower SelectedBorrower { get; set; }

    private bool editRecord = false;


    private List<AddressDTO> addresDTOList = new();

    private MudForm formEditRecord;

    private MudTable<DominateDocsData.Models.Borrower> searchTable = new();

    private List<DominateDocsData.Models.Borrower> searchList = new();

    private bool AddButtonDisabled = false;

    private readonly PatternMask phoneMask = new("(000)000-0000");

    private readonly PatternMask socialMask = new("000-00-0000");

    private string emailPattern = @"^[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}$";

    private string searchString = "";

    // Filtered view of the borrowers based on searchString
    private IEnumerable<DominateDocsData.Models.Borrower> FilteredList =>
        string.IsNullOrWhiteSpace(searchString)
            ? vm.RecordList
            : vm.RecordList.Where(l =>
                   (!string.IsNullOrEmpty(l.EntityName) &&
                    l.EntityName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                || (!string.IsNullOrEmpty(l.FullAddress) &&
                    l.FullAddress.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                || (!string.IsNullOrEmpty(l.ContactPhoneNumber) &&
                    l.ContactPhoneNumber.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                || (!string.IsNullOrEmpty(l.ContactEmail) &&
                    l.ContactEmail.Contains(searchString, StringComparison.OrdinalIgnoreCase)));




    protected override async Task OnInitializedAsync()
    {
        vm.InitializePageCommand.Execute(SelectedBorrower);

        if (SelectedBorrower is not null)
        {
            editRecord = true;
        }

        if (!String.IsNullOrEmpty(vm.EditingRecord.FullAddress))
        {
            AddressDTO dto = new()
                {
                    FullAddress = vm.EditingRecord.FullAddress,
                    StreetAddress = vm.EditingRecord.StreetAddress,
                    State = vm.EditingRecord.State,
                    City = vm.EditingRecord.City,
                    ZipCode = vm.EditingRecord.ZipCode,
                    County = vm.EditingRecord.County,
                    Country = vm.EditingRecord.Country,
                    Lat = vm.EditingRecord.Lat, 
                    Lng = vm.EditingRecord.Lng

                };

            addresDTOList.Add(dto);
        }
    }

    private async Task HandleSubmit()
    {
        await formEditRecord.Validate();

        if (!formEditRecord.IsValid)
        {
            Snackbar.Add("Please correct the errors in the form.", Severity.Error);
            return;
        }
        else
        {
            if (!editRecord)
            {
                if (vm.RecordList.Any(x => (x.SSN == vm.EditingRecord.SSN && vm.EditingRecord.SSN != null) || (x.EIN == vm.EditingRecord.EIN && vm.EditingRecord.EIN != null)))
                {

                    Snackbar.Add("A Borrower already exists choose from the list of Borrowers.", Severity.Error);
                    return;
                }
            }

            vm.UpsertRecordCommand.Execute(null);

            await OnBorrowerComplete.InvokeAsync(vm.EditingRecord);
                       
            AddButtonDisabled = false;

            vm.GetNewRecordCommand.Execute(null);

            StateHasChanged();
        }
    }

    private void OnAddressComplete(List<AddressDTO> addressList)
    {
        if (addressList == null || addressList.Count == 0)
        {
            vm.EditingRecord.FullAddress = string.Empty;
            vm.EditingRecord.StreetAddress = string.Empty;
            vm.EditingRecord.City = string.Empty;
            vm.EditingRecord.State = string.Empty;
            vm.EditingRecord.ZipCode = string.Empty;
            vm.EditingRecord.County = string.Empty;
            vm.EditingRecord.Country = string.Empty;
        }
        else
        {
            var addressDTO = addressList.FirstOrDefault();

            vm.EditingRecord.FullAddress = addressDTO.FullAddress;
            vm.EditingRecord.StreetAddress = addressDTO.StreetAddress;
            vm.EditingRecord.City = addressDTO.City;
            vm.EditingRecord.State = addressDTO.State;
            vm.EditingRecord.ZipCode = addressDTO.ZipCode;
            vm.EditingRecord.County = addressDTO.County;
            vm.EditingRecord.Country = addressDTO.Country;
            vm.EditingRecord.Lat = addressDTO.Lat;
            vm.EditingRecord.Lng = addressDTO.Lng;  
        }
    }

    private async Task AddRecordForEditAsync(DominateDocsData.Models.Borrower r)
    {
       
        vm.EditingRecord = r;

        editRecord = true;

        searchString = "";

        AddButtonDisabled = false;
       
       
        StateHasChanged();
    }

    private async Task SearchBackAsync()
    {
        searchString = "";
        
    }

    private void ClearSelection()
    {
        vm.ClearSelectionCommand.Execute(null);
        vm.GetNewRecordCommand.Execute(null);

        StateHasChanged();
    }

    private void AddButton()
    {
        vm.GetNewRecordCommand.Execute(null);

        AddButtonDisabled = true;
    }

    private void OnSelectedRecord(DominateDocsData.Models.Borrower borrower)
    {
        searchString = "";

        vm.SelectRecordCommand.Execute(borrower);

        editRecord = true;
        
            // if (!String.IsNullOrEmpty(vm.EditingRecord.FullAddress))
            // {
            //     AddressDTO dto = new()
            //     {
            //         FullAddress = vm.EditingRecord.FullAddress,
            //         StreetAddress = vm.EditingRecord.StreetAddress,
            //         State = vm.EditingRecord.State,
            //         City = vm.EditingRecord.City,
            //         ZipCode = vm.EditingRecord.ZipCode,
            //         County = vm.EditingRecord.County,
            //         Country = vm.EditingRecord.Country,
            //         Lat = vm.EditingRecord.Lat,
            //         Lng = vm.EditingRecord.Lng
            //     };

            //     addresDTOList.Add(dto);
            // }
        
       
    }
       
    private async Task OnEntityOwnerComplete(List<DominateDocsData.Models.EntityOwner> entityOwners) 
    {
        vm.EditingRecord.EntityOwners = entityOwners;
    }

    private async Task OnEntityOwnerCanceled()
    {
        StateHasChanged();
    }

    private async Task OnSigningAuthorityComplete(List<DominateDocsData.Models.SigningAuthority> signers)
    {
        vm.EditingRecord.SigningAuthorities = signers;
    }

    private async Task OnSigningAuthorityCanceled()
    {
        StateHasChanged();
    }

    private async Task OnAliasComplete(List<DominateDocsData.Models.AkaName> alias)
    {
        vm.EditingRecord.AliasNames = alias;
    }

    private async Task OnAliasCanceled()
    {
        StateHasChanged();
    }

    // private async Task OnDeleteRecordAsync(DominateDocsData.Models.Borrower r)
    // {

    //     vm.SelectedRecord = r;

    //     vm.DeleteRecordCommand.Execute(r);

    //     vm.ClearSelectionCommand.Execute(r);

    //     StateHasChanged();

    //     await OnBorrowerComplete.InvokeAsync();


    // }

}