@page "/contactus"
@using System.ComponentModel.DataAnnotations
@using DominateDocsNotify.Models
@using DominateDocsNotify.Services
@using DominateDocsNotify.State


@inject ContactUsViewModel vm
@inject INotifyState notifyState
@inject IEmailBackgroundService emailService
@inject NavigationManager NavigationManager


<style>
    .gradient-text {
        background: linear-gradient(to right, royalblue, purple);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }

    .custom-left-shadow {
        box-shadow: -8px 0 16px -4px royalblue;
        border-radius: 12px;
    }

    .border-left-blue {
        border-left: 6px solid #1976D2; /* Dark Blue */
        border-radius: 12px;
        background-color: white;
    }
    .long-textfield
    {
        width: 800px;
    }
</style>

<MudGrid Class="mt-5">
    <MudItem md="12">
        <div style="display: flex; justify-content: center;">
            <MudCard Class="rounded-5 shadow-lg" Style="background: #594AE2; color:white;" Height="540px" Width="850px">

                <MudCardContent>
                    <div style="display: flex; justify-content: center;">

                        <MudChip Class="text-center mt-5" T="string" Icon="@Icons.Material.Filled.Security" Color="Color.Success">Trusted by our clients</MudChip>
                    </div>
                    <MudText Class="text-center mt-5" Style="font-family: 'Sans Serif Collection'; font-size: 72px; font-weight: 200;" Typo="Typo.h2">Let's Discuss Your</MudText>
                    <MudText Class="text-center" Style="font-family: 'Sans Serif Collection'; font-size: 62px; font-weight: 500; Color: orange;" Typo="Typo.body2">Document Needs</MudText>

                    <MudText Class="mt-10 text-center" Style="font-family: 'Sans Serif Collection'; font-size: 22px; font-weight: 500; Color: lightgrey;" Typo="Typo.h3">Connect with our lending specialists for your personalized documents needs</MudText>

                </MudCardContent>
                <MudCardActions Style="background: white; display: flex; justify-content: center;">
                    <MudButton StartIcon="@Icons.Material.Outlined.Phone" Variant="Variant.Text" Color="Color.Primary">
                        Call: <MudText Class="text-black m-1" Typo="Typo.body2"> 1-800-555-1212</MudText>
                    </MudButton>
                    <MudButton StartIcon="@Icons.Material.Outlined.Email" Variant="Variant.Text" Color="Color.Primary">
                        Email: <MudText Class="text-black m-1" Typo="Typo.body2">ContactUs@DominateDocs.law</MudText>
                    </MudButton>

                </MudCardActions>
            </MudCard>

        </div>
    </MudItem>
    <MudItem md="12">
        <div style="display: flex; justify-content: center;">
            <MudPaper Elevation="1" Class="pa-4" Height="640px" Width="850px">
                <MudForm Context="context" Model="vm.EditingMailMsg" @ref="@formEditRecord">

                    <div class="d-flex flex-column gap-4">

                        <MudText Class="mt-5 text-center" Style="font-family: 'Sans Serif Collection'; font-size: 22px; font-weight: 500; Color: Black;" Typo="Typo.h3">Contact Us!</MudText>


                        <div style="display: flex; justify-content: left;">
                            <MudStack>
                                <MudTextField Class="ml-5 long-textfield" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingMailMsg.Name" Label="Name" Required="true" />

                                <MudTextField Class="ml-5 long-textfield" @bind-Value="vm.EditingMailMsg.ReplyTo" Style="background-color: white;" Variant="Variant.Outlined"
                                              Label="Email"
                                              Placeholder="example@domain.com"
                                              Required="true"
                                              RequiredError="Email is required"
                                              Pattern="@emailPattern"
                                              PatternErrorMessage="Invalid email format"
                                              Immediate="true" />


                                <MudTextField Label="Phone" Class="ml-5 long-textfield" Style="background-color: white;" Variant="Variant.Outlined"
                                              @bind-Value="vm.EditingMailMsg.Phone"
                                              Mask="@(new PatternMask("(000)000-0000"))"
                                              Placeholder="(___) ___-____"
                                              Required="true"
                                              Immediate="true" />


                                <MudTextField Class="ml-5 long-textfield" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingMailMsg.MessageBody" Label="Message" Lines="10" Required="false" />


                                <MudButton Class="ml-5" OnClick="SendMail" Color="Color.Success" Variant="Variant.Filled">Send</MudButton>
                            </MudStack>
                        </div>

                    </div>




                </MudForm>


            </MudPaper>
        </div>
    </MudItem>

</MudGrid>








@code {

    private MudForm formEditRecord;

    private string emailPattern = @"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$";

    protected override async Task OnInitializedAsync()
    {

        await vm.InitializePageCommand.ExecuteAsync(null);

    }

    public async Task SendMail()
    {
        vm.SendMailCommand.Execute(null);

        if (notifyState.EmailMsgProcessingQueue.Count > 0)
        {
            StateHasChanged();
        }

        vm.EditingMailMsg = new();

        NavigationManager.NavigateTo("/");

    }

    



}
