@using System.Text
@using DominateDocsData.Models
@using System.Globalization
@using System.Collections.ObjectModel
@using DominateDocsData.Models.MergeDTOs
@using DominateDocsData.Helpers

@rendermode InteractiveServer
@inject QuickServicerViewModel vm
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject QuickServicerValidator ServicerValidator
@inject SigningAuthorityValidator SigningAuthorityValidator
@inject AliasValidator AliasValidator
@inject UserSession Session

@if (!String.IsNullOrEmpty(searchString))
{
    <MudGrid>
        <MudItem md="12">

            <MudStack Spacing="2" Class="mb-4 mt-5">
                @foreach (var item in vm.RecordList)
                {
                    <MudPaper Elevation="0" Class="pa-3" Style="background: #fafafa; border: 1px solid #e0e0e0; border-radius: 6px;">
                        <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                            <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="3">
                                <MudChip T="string" Size="Size.Small" Color="Color.Primary" Variant="Variant.Filled">@item.EntityName</MudChip>
                                <MudChip T="string" Size="Size.Small" Color="Color.Secondary" Variant="Variant.Filled">@item.FullAddress</MudChip>
                                <MudChip T="string" Size="Size.Small" Color="Color.Success" Variant="Variant.Filled">@item.ContactPhoneNumber</MudChip>
                            </MudStack>
                            <MudStack Row="true" Spacing="4">
                                <MudButton Variant="Variant.Text"
                                           Size="Size.Small"
                                           Color="Color.Info"
                                           StartIcon="@Icons.Material.Filled.Add"
                                           OnClick="@(() => AddExistingButton(item))">
                                    Add This Servicer
                                </MudButton>
                            </MudStack>
                        </MudStack>
                    </MudPaper>
                }
            </MudStack>

            <MudButton Variant="Variant.Text"
                       Size="Size.Small"
                       Color="Color.Error"
                       StartIcon="@Icons.Material.Filled.Add"
                       OnClick="AddButton">
                Add Servicer?
            </MudButton>

        </MudItem>
    </MudGrid>
}
else
{
    @if (displayList)
    {
        <MudGrid>

            <MudItem md="12">

                <MudStack Spacing="2" Class="mb-4">

                    @foreach (var item in vm.MyList)
                    {
                        <MudPaper Elevation="0" Class="pa-3" Style="background: #fafafa; border: 1px solid #e0e0e0; border-radius: 6px;">
                            <MudStack Row="true" AlignItems="AlignItems.Center" Justify="Justify.SpaceBetween">
                                <MudStack Row="true" AlignItems="AlignItems.Center" Spacing="3">
                                    <MudChip T="string" Size="Size.Small" Color="Color.Primary" Variant="Variant.Filled">@item.EntityName</MudChip>
                                    <MudChip T="string" Size="Size.Small" Color="Color.Secondary" Variant="Variant.Filled">@item.FullAddress</MudChip>
                                    <MudChip T="string" Size="Size.Small" Color="Color.Success" Variant="Variant.Filled">@item.ContactPhoneNumber</MudChip>
                                </MudStack>
                                <MudStack Row="true" Spacing="4">
                                    <MudButton Variant="Variant.Text"
                                               Size="Size.Small"
                                               Color="Color.Info"
                                               StartIcon="@Icons.Material.Filled.Edit"
                                               OnClick="@(() => OnSelectedRecord(item))">
                                        Edit
                                    </MudButton>

                                    <MudButton Variant="Variant.Text"
                                               Size="Size.Small"
                                               Color="Color.Error"
                                               StartIcon="@Icons.Material.Filled.Delete"
                                               OnClick="@(() => DeleteRecordAsync(item))">
                                        Remove
                                    </MudButton>
                               
                                </MudStack>
                            </MudStack>
                        </MudPaper>
                    }

                </MudStack>


                <MudButton Variant="Variant.Text"
                           Size="Size.Small"
                           Color="Color.Error"
                           StartIcon="@Icons.Material.Filled.Add"
                           OnClick="AddButton">
                    Add Servicer?
                </MudButton>

            </MudItem>

        </MudGrid>
    }
    else
    {

        <MudGrid>

            <MudItem md="12">

                <MudTextField @bind-Value="searchString" Placeholder="Search..." Immediate="true" />

            </MudItem>

            <MudItem md="12">

                <MudForm Context="contextBroker" Model="@vm.EditingRecord" @ref="@formEditRecord" Validation="@ServicerValidator" ValidationDelay="0">

                    <MudGrid>

                        <MudItem md="4">

                            <div class="d-flex flex-column gap-2">

                                <MudSelect Class="ml-4 mt-5" T="DominateDocsData.Enums.Entity.Types" Style="background-color: white;" Variant="Variant.Outlined" Label="Select Entity Type" @bind-Value="vm.EditingRecord.EntityType" Dense="true">

                                    @foreach (var gt in Enum.GetValues<DominateDocsData.Enums.Entity.Types>())
                                    {
                                        <MudSelectItem Style="background-color: white;" T="DominateDocsData.Enums.Entity.Types" Value="gt">@gt.GetDescription()</MudSelectItem>
                                    }

                                </MudSelect>

                                @if (vm.EditingRecord.EntityType == DominateDocsData.Enums.Entity.Types.Entity)
                                {
                                    <MudTextField Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingRecord.EntityName" For="@(() => vm.EditingRecord.EntityName)" Label="Entity Name" Required="true" />

                                    <MudSelect Class="ml-4" T="DominateDocsData.Enums.Entity.Structures" Style="background-color: white;" Variant="Variant.Outlined" Label="Select Entity Structure" @bind-Value="vm.EditingRecord.EntityStructure" Dense="true">

                                        @foreach (var gt in Enum.GetValues<DominateDocsData.Enums.Entity.Structures>())
                                        {
                                            <MudSelectItem Style="background-color: white;" T="DominateDocsData.Enums.Entity.Structures" Value="gt">@gt.GetDescription()</MudSelectItem>
                                        }

                                    </MudSelect>

                                    <MudSelect Class="ml-4" T="DominateDocsData.Enums.UsStates.UsState" Style="background-color: white;" Variant="Variant.Outlined" Label="Select State of Incorporation" @bind-Value="vm.EditingRecord.StateOfIncorporation" Dense="true">

                                        @foreach (var tr in Enum.GetValues<DominateDocsData.Enums.UsStates.UsState>())
                                        {
                                            <MudSelectItem Style="background-color: white;" T="DominateDocsData.Enums.UsStates.UsState" Value="tr">@tr.GetDescription()</MudSelectItem>
                                        }

                                    </MudSelect>


                                    <MudTextField Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingRecord.EIN" Label="EIN#" Required="false" />
                                    <MudTextField Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingRecord.ContactName" For="@(() => vm.EditingRecord.ContactName)" Label="Contact Name" Required="true" />

                                    <MudSelect Class="ml-4" T="DominateDocsData.Enums.Entity.ContactRoles" Style="background-color: white;" Variant="Variant.Outlined" Label="Contact's Role" @bind-Value="vm.EditingRecord.ContactsRole" Dense="true">

                                        @foreach (var gt in Enum.GetValues<DominateDocsData.Enums.Entity.ContactRoles>())
                                        {
                                            <MudSelectItem Style="background-color: white;" T="DominateDocsData.Enums.Entity.ContactRoles" Value="gt">@gt.GetDescription()</MudSelectItem>
                                        }

                                    </MudSelect>

                                }
                                else
                                {
                                    <MudTextField Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined" @bind-Value="vm.EditingRecord.ContactName" For="@(() => vm.EditingRecord.ContactName)" Label="ContactName" Required="true" />



                                    <MudTextField Class="pl-4" @bind-Value="vm.EditingRecord.ContactEmail" Style="background-color: white;" Variant="Variant.Outlined"
                                                  Label="Contact Email"
                                                  Placeholder="example@domain.com"
                                                  Required="true"
                                                  RequiredError="Email is required"
                                                  Pattern="@emailPattern"
                                                  PatternErrorMessage="Invalid email format"
                                                  Immediate="true" />


                                    <MudTextField Label="Contact Phone" Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined"
                                                  @bind-Value="vm.EditingRecord.ContactPhoneNumber"
                                                  Mask="@phoneMask"
                                                  Placeholder="(___) ___-____"
                                                  Required="true"
                                                  Immediate="true" />
                                }

                            </div>

                        </MudItem>

                        <MudItem md="4">

                            <div class="d-flex flex-column gap-2">

                                @if (vm.EditingRecord.EntityType == Entity.Types.Individual)
                                {
                                    <MudTextField Class="pl-4 mt-5" @bind-Value="vm.EditingRecord.SSN" Style="background-color: white;" Variant="Variant.Outlined"
                                                  Label="SSN"
                                                  Mask="@socialMask"
                                                  Placeholder="___-__-____"
                                                  Required="true"
                                                  RequiredError="SSN is required"
                                                  Pattern="^\d{3}-\d{2}-\d{4}$"
                                                  PatternErrorMessage="Invalid SSN format" />

                                }
                                else
                                {
                                    <MudTextField Class="pl-4 mt-5" @bind-Value="vm.EditingRecord.ContactEmail" Style="background-color: white;" Variant="Variant.Outlined"
                                                  Label="Contact Email"
                                                  Placeholder="example@domain.com"
                                                  Required="true"
                                                  RequiredError="Email is required"
                                                  Pattern="@emailPattern"
                                                  PatternErrorMessage="Invalid email format"
                                                  Immediate="true" />


                                    <MudTextField Label="Contact Phone" Class="pl-4" Style="background-color: white;" Variant="Variant.Outlined"
                                                  @bind-Value="vm.EditingRecord.ContactPhoneNumber"
                                                  Mask="@phoneMask"
                                                  Placeholder="(___) ___-____"
                                                  Required="true"
                                                  Immediate="true" />
                                }

                                <AddressCompleteMap OnAddressChange="OnAddressComplete" Row="false" MultipleAddress="false" AddressList="@addresDTOList" DisplayMap="false" />

                                <MudStack Row Justify="Justify.SpaceEvenly" AlignItems="AlignItems.Center" Class="mb-5 w-full">
                                    <MudButton Type="Submit" OnClick="HandleSubmit" Color="Color.Success" Variant="Variant.Filled">
                                        @(!editRecord ? "Add" : "Save")
                                    </MudButton>

                                    <MudButton OnClick="ClearSelection" Color="Color.Secondary" Variant="Variant.Filled">
                                        Clear
                                    </MudButton>
                                </MudStack>

                            </div>

                        </MudItem>

                    </MudGrid>

                </MudForm>

            </MudItem>

        </MudGrid>
    }
}


@code
{
    [Parameter] public EventCallback<List<DominateDocsData.Models.Servicer>> OnServicerComplete { get; set; }
    [Parameter] public EventCallback OnServicerCanceled { get; set; }
    [Parameter] public List<DominateDocsData.Models.Servicer> SelectedServicers { get; set; } = new();

    public MudTable<DominateDocsData.Models.Servicer> listTable = null;
    private MudTable<DominateDocsData.Models.Servicer> searchTable = new();

    private MudForm formEditRecord;

    private bool editRecord = false;

    private bool displayList = false;
    private bool AddButtonDisabled = false;

    private List<DominateDocsData.Models.Servicer> searchList = new();
    private List<AddressDTO> addresDTOList = new();

    private readonly PatternMask phoneMask = new("(000)000-0000");

    private readonly PatternMask einMask = new("00-0000000");

    private readonly PatternMask socialMask = new("000-00-0000");

    private string emailPattern = @"^[\w\-\.]+@([\w\-]+\.)+[\w\-]{2,4}$";
    private string ssnMask = "000-00-0000";

    private DominateDocsData.Models.Servicer priorBroker = new();
    private DominateDocsData.Models.Servicer currentBroker = new();

    private int editingIndex = -1;

    private string searchString = "";

    // Filtered view of the borrower based on searchString
    private IEnumerable<DominateDocsData.Models.Servicer> FilteredList =>
        string.IsNullOrWhiteSpace(searchString)
            ? vm.RecordList
            : vm.RecordList.Where(l =>
                   (!string.IsNullOrEmpty(l.EntityName) &&
                    l.EntityName.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                || (!string.IsNullOrEmpty(l.FullAddress) &&
                    l.FullAddress.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                || (!string.IsNullOrEmpty(l.ContactPhoneNumber) &&
                    l.ContactPhoneNumber.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                || (!string.IsNullOrEmpty(l.ContactEmail) &&
                    l.ContactEmail.Contains(searchString, StringComparison.OrdinalIgnoreCase)));

    protected override async Task OnInitializedAsync()
    {
        vm.InitializePageCommand.Execute(SelectedServicers);

        if (!String.IsNullOrEmpty(vm.EditingRecord.FullAddress))
        {
            AddressDTO dto = new()
            {
                FullAddress = vm.EditingRecord.FullAddress,
                StreetAddress = vm.EditingRecord.StreetAddress,
                City = vm.EditingRecord.City,
                ZipCode = vm.EditingRecord.ZipCode,
                County = vm.EditingRecord.County,
                State = vm.EditingRecord.State,
                Country = vm.EditingRecord.Country,
                Lat = vm.EditingRecord.Lat,
                Lng = vm.EditingRecord.Lng
            };

            addresDTOList.Add(dto);
        }


        displayList = true;
    }

    private async Task HandleSubmit()
    {
        await formEditRecord.Validate();

        if (!formEditRecord.IsValid)
        {
            Snackbar.Add("Please correct the errors in the form.", Severity.Error);
            return;
        }
        else
        {
            if (!editRecord)
            {
                if (vm.RecordList.Any(x => (x.SSN == vm.EditingRecord.SSN && vm.EditingRecord.SSN != null) || (x.EIN == vm.EditingRecord.EIN && vm.EditingRecord.EIN != null)))
                {

                    Snackbar.Add("A Servicer already exists choose from the list of Servicers.", Severity.Error);
                    return;
                }
            }

            vm.UpsertRecordCommand.Execute(null);

            await OnServicerComplete.InvokeAsync(vm.MyList.ToList());

            displayList = true;

            editRecord = false;

            AddButtonDisabled = false;

            StateHasChanged();
        }
    }


    private void OnAddressComplete(List<AddressDTO> addressList)
    {
        if (addressList == null || addressList.Count == 0)
        {
            vm.EditingRecord.FullAddress = string.Empty;
            vm.EditingRecord.StreetAddress = string.Empty;
            vm.EditingRecord.City = string.Empty;
            vm.EditingRecord.ZipCode = string.Empty;
            vm.EditingRecord.County = string.Empty;
            vm.EditingRecord.Country = string.Empty;
        }
        else
        {
            var addressDTO = addressList.FirstOrDefault();

            vm.EditingRecord.FullAddress = addressDTO.FullAddress;
            vm.EditingRecord.StreetAddress = addressDTO.StreetAddress;
            vm.EditingRecord.City = addressDTO.City;
            vm.EditingRecord.ZipCode = addressDTO.ZipCode;
            vm.EditingRecord.County = addressDTO.County;
            vm.EditingRecord.Country = addressDTO.Country;
            vm.EditingRecord.State = addressDTO.State;
            vm.EditingRecord.Lat = addressDTO.Lat;
            vm.EditingRecord.Lng = addressDTO.Lng;
        }

    }

    private async Task SearchBackAsync()
    {
        searchString = "";

    }

    private async Task DeleteRecordAsync(DominateDocsData.Models.Servicer r)
    {
        vm.SelectedRecord = r;

        vm.DeleteRecordCommand.Execute(r);

        await OnServicerComplete.InvokeAsync(vm.MyList.ToList());

        displayList = true;

        StateHasChanged();

       


    }

    private void ClearSelection()
    {
        vm.ClearSelectionCommand.Execute(null);

        StateHasChanged();
    }

    private async Task AddSearchForEditAsync(DominateDocsData.Models.Servicer r)
    {
        vm.EditingRecord = r;

        AddressDTO address = new()
        {
            FullAddress = r.FullAddress,
            Lat = r.Lat,
            Lng = r.Lng,
            StreetAddress = r.StreetAddress,
            City = r.City,
            State = r.State,
            ZipCode = r.ZipCode,
            County = r.County,
            Country = r.Country

        };

        addresDTOList.Add(address);

        editRecord = true;

        searchString = "";


        AddButtonDisabled = true;
        StateHasChanged();
    }

    private void AddButton()
    {
        vm.GetNewRecordCommand.Execute(null);

        addresDTOList.Clear();

        AddButtonDisabled = true;

        editRecord = false;

        displayList = false;
    }

    private void AddExistingButton(DominateDocsData.Models.Servicer r)
    {

        vm.SelectRecordCommand.Execute(r);

        int index = vm.MyList.FindIndex(x => x.Id == r.Id);

        if (index == -1) vm.MyList.Add(r);

        AddButtonDisabled = true;

        searchString = "";

        editRecord = true;

        displayList = false;

        StateHasChanged();
    }


    private void OnSelectedRecord(DominateDocsData.Models.Servicer r)
    {
        if (r is not null) vm.SelectRecordCommand.Execute(r);

        editRecord = true;

        if (!String.IsNullOrEmpty(vm.EditingRecord.FullAddress))
        {
            addresDTOList.Clear();

            AddressDTO dto = new()
            {
                FullAddress = vm.EditingRecord.FullAddress,
                StreetAddress = vm.EditingRecord.StreetAddress,
                City = vm.EditingRecord.City,
                ZipCode = vm.EditingRecord.ZipCode,
                County = vm.EditingRecord.County,
                Country = vm.EditingRecord.Country,
                State = vm.EditingRecord.State,
                Lat = vm.EditingRecord.Lat,
                Lng = vm.EditingRecord.Lng
            };

            addresDTOList.Add(dto);
        }


    }

    private async Task EditRecordAsync(DominateDocsData.Models.Servicer r)
    {
        OnSelectedRecord(r);

        editRecord = true;

        displayList = false;

        StateHasChanged();

    }


    private void CancelEdit()
    {
        editingIndex = -1;

        StateHasChanged();
    }






}