
@using System.Text;
@using DominateDocsData.Models;
@using System.Globalization;
@using System.Collections.ObjectModel;
@using DominateDocsData.Models.MergeDTOs;

@rendermode InteractiveServer
@inject SigningAuthorityViewModel vm
@inject NavigationManager NavigationManager
@inject ISnackbar Snackbar
@inject SigningAuthorityValidator SigningAuthorityValidator
@inject UserSession Session


@if (displayList)
{
        <MudGrid>

            <MudItem xs="12" md="12">

            <MudTable Class="ml-4 mr-5" Style="background-color: var(--mud-palette-background);" Items="vm.MyRecordList" Context="context" Hover="true" Bordered="true" Dense="true" @bind-SelectedItem="vm.SelectedRecord" RowClick="OnSelectedRecord">
                    <HeaderContent>
                        <MudTh>Name</MudTh>
                        <MudTh>Title</MudTh>
                        <MudTh HeaderCellClass="text-right">
                            <MudButton Variant="Variant.Text"
                                       Size="Size.Small"
                                       Color="Color.Info"
                                       StartIcon="@Icons.Material.Filled.Add"
                                       OnClick="AddButton">
                                Add Name
                            </MudButton>
                        </MudTh>

                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Name">@context.Name</MudTd>
                        <MudTd DataLabel="Title">@context.Title</MudTd>
                        <MudTd>
                        <MudButton Variant="Variant.Text"
                                   Size="Size.Small"
                                   Color="Color.Info"
                                   StartIcon="@Icons.Material.Filled.Edit"
                                   OnClick="@(() => OnSelectedRecord(context))">
                            Edit
                        </MudButton>

                        <MudButton Variant="Variant.Text"
                                   Size="Size.Small"
                                   Color="Color.Error"
                                   StartIcon="@Icons.Material.Filled.Delete"
                                   OnClick="@(() => OnDeleteRecordAsync(context))">
                            Delete
                        </MudButton>
                    </MudTd>
                    </RowTemplate>
                

                </MudTable>

            </MudItem>

        </MudGrid>
}
else
{
        <MudGrid>

            <MudItem xs="12" md="12">

            <MudForm Context="contextESA"  Model="@vm.EditingRecord" @ref="@form" Validation="@SigningAuthorityValidator" ValidationDelay="0">
                    <MudGrid Class="mt-2">
                        <MudItem md="6">
                            <div class="d-flex flex-column gap-2">
                                <MudTextField Class="pl-4" Variant="Variant.Outlined"  @bind-Value="vm.EditingRecord.Name" Label="Name" Required="true" />
                                <MudTextField Class="pl-4" Variant="Variant.Outlined"  @bind-Value="vm.EditingRecord.Title" Label="Title" Required="true" />
                                <MudTextField Class="pl-4" Label="Phone Number"  Variant="Variant.Outlined"
                                              @bind-Value="vm.EditingRecord.PhoneNumber"
                                              Mask="phoneMask"
                                              Placeholder="(___) ___-____"
                                              Required="true"
                                              Immediate="true" />

                                <MudStack Row="true" Spacing="10" Class="mt-4 mb-10">
                                    <MudButton Class="ml-10" Type="Submit" OnClick="HandleSubmit" Color="Color.Success" Variant="Variant.Filled">@(vm.SelectedRecord == null ? "Add" : "Save")</MudButton>
                                   
                                    <MudButton OnClick="ClearSelection" Color="Color.Secondary" Variant="Variant.Filled">Clear</MudButton>
                                </MudStack>
                            </div>
                        </MudItem>

                    </MudGrid>

                </MudForm>

            </MudItem>

        </MudGrid>
}

@code
{

    [Parameter] public EventCallback<List<DominateDocsData.Models.SigningAuthority>> OnSigningAuthorityComplete { get; set; }
    [Parameter] public EventCallback OnSigningAuthorityCanceled { get; set; }
    [Parameter] public List<DominateDocsData.Models.SigningAuthority> SigningAuthorityList { get; set; }

    private MudForm form;

    private bool displayList = false;
    private bool AddButtonDisabled = false;
    private bool editRecord = false;    
    private readonly PatternMask phoneMask = new("(000)000-0000");

    private int editingIndex = -1;

    protected override async Task OnInitializedAsync()
    {
        vm.InitializeLoadPageCommand.Execute(SigningAuthorityList);

        displayList = true;
    }

    private async Task HandleSubmit()
    {
        await form.Validate();

        if (!form.IsValid)
        {
            Snackbar.Add("Please correct the errors in the form.", Severity.Error);
            return;
        }
        else
        {
            if (!editRecord)
            {

                if (vm.MyRecordList.Any(x => x.Name == vm.EditingRecord.Name))
                {
                    Snackbar.Add("A Duplicate Name can exists.", Severity.Error);

                    return;
                }
            }

            vm.UpsertRecordCommand.Execute(null);

            await OnSigningAuthorityComplete.InvokeAsync(vm.MyRecordList.ToList());

            editRecord = false;

            displayList = true;

            StateHasChanged();

            AddButtonDisabled = false;
        }
    }

    private async Task OnDeleteRecordAsync(DominateDocsData.Models.SigningAuthority r)
    {
        vm.DeleteRecordCommand.Execute(r);

        vm.ClearSelectionCommand.Execute(null);

        displayList = true;

        editRecord = false;

        await OnSigningAuthorityComplete.InvokeAsync(vm.MyRecordList.ToList());

        StateHasChanged();
    }

    private void ClearSelection()
    {
        vm.ClearSelectionCommand.Execute(null);
        StateHasChanged();
    }

    private void AddButton()
    {
        vm.GetNewRecordCommand.Execute(null);

        AddButtonDisabled = false;

        displayList = false;
    }

    private void OnSelectedRecord(DominateDocsData.Models.SigningAuthority r)
    {

        if (r is not null) vm.SelectRecordCommand.Execute(r);

        editRecord = true;

        displayList = false;

    }

    private void CancelEdit()
    {
        editingIndex = -1;

        StateHasChanged();
    }
}
